VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=mood-diary-ponti4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mood-diary-ponti4
VITE_FIREBASE_STORAGE_BUCKET=mood-diary-ponti4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
